*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: var(--c-background);
    padding: 90px 0 0;
}

a, button {
    text-decoration: none;
    box-shadow: none;
    outline: none;
}